body {
  background: #f2eae6;
  font-family: Arial, Helvetica, sans-serif;
}
img {
  width: 100%;
}
.mv {
  padding-top: 75%;
  background: url('../img/mv.jpg') no-repeat center/cover;
  position: relative;
}
.mv-txt {
  position: absolute;
  bottom: -150px;
  right: 5px;
  font-weight: bold;
  font-size: 40px;
  background: rgba(255, 255, 255, 0.8);
  width: 87%;
  padding: 20px;
  color: #333;
  display: none;
}
.mv-txt > span {
  display: block;
  margin-top: 10px;
}
.mv-txt span span.sm {
  font-size: 65%;
}
.mv-txt span span.kyon {
  font-size: 85%;
  color: #39d1f5;
}
.mv-txt span span.miyu {
  font-size: 85%;
  color: #fba7d5;
}
.content {
  margin-top: 230px;
}
section {
  position: relative;
  margin: 30px 0;
  padding: 50px 0;
}
section::before {
  content: 'カ';
  font-size: 230px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  color: rgba(205, 231, 252, 0.8);
  font-weight: bold;
}
section.section2::before {
  content: 'ワ';
  color: #e3f6e8;
}
section.section3::before {
  content: 'ウ';
  color: #f7d0cd;
}
section.section4::before {
  content: 'ソ';
  color: #ccc;
}
.kawauso {
  width: 60%;
}
.kawauso1 {
  transform: translateX(180px);
  transition: 0.3s ease;
}
.kawauso1.active {
  transform: translateX(0);
}
.kawauso1.on {
  transform: translateX(0);
}
.kawauso1,
.kawauso3 {
  margin: 0 0 0 auto;
}
.kawauso2 {
  margin: 0 auto 0 0;
}
.kawauso3 {
  width: 30%;
}
.kawauso4 {
  width: 50%;
}
.btn {
  line-height: 1.5;
}
.btn1 {
  position: absolute;
  top: -10%;
  left: 40px;
  background: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 30px;
}
.btn1::before {
  content: '';
  display: inline-block;
  border: 10px solid transparent;
  border-top: 10px solid #fff;
  border-right: 10px solid #fff;
  position: absolute;
  bottom: -15px;
  right: 20px;
}
.btn2 {
  position: absolute;
  top: 30px;
  right: 40px;
  background: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 30px;
}
.btn2::before {
  content: '';
  display: inline-block;
  border: 10px solid transparent;
  border-top: 10px solid #fff;
  border-left: 10px solid #fff;
  position: absolute;
  bottom: -15px;
  left: 20px;
}
.btn3 {
  top: 4%;
  left: 130px;
}
.btn-foot {
  top: 10%;
  right: 10px;
}
.footer-img {
  width: 40%;
  position: relative;
  left: 15px;
}

.footer {
  margin-top: 100px;
  margin-bottom: 100px;
  position: relative;
}

.txt {
  width: 80%;
  margin: 50px auto 100px;
  line-height: 1.5;
  font-size: 20px;
}
.txt span {
  font-weight: bold;
  color: brown;
}

.hide {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
  display: none;
}
.coment {
  width: 80%;
  height: 50%;
  background: #fff;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
}
